<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="DatabasePath" value="C:\\study\\ExcelReader" />
		<add key="FilePath" value="C:\\study\\ExcelReader\\Fifa.xlsx" />
		<add key="DbPath" value="C:\\study\\ExcelReader\\db.sqlite" />
		<add key="ConnectionString" value="Data Source=db.sqlite" />
		<add key="PCPath" value="C:\\Projects\\Tutorials\\ExcelReader\\ExcelReader" />
		<add key="EBPath" value="C:\\study\\ExcelReader" />
	</appSettings>
</configuration>